.description {
  text-align: center;
  @include font(2rem, normal, 400, 4rem, normal, none);
  margin: 0;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0 55px;
}

.pagination-button {
  background: none;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination--colour {
  width: 16px;
  height: 16px;
  background: $color-primary;
  border-radius: 50%;
}

.active {
  background: $color-additional;
}
