.contacts-container {
  padding: 0 20px 40px;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.phone-info {
  margin-bottom: 40px;
  margin-top: 40px;
}

.text-info {
  &--bold {
    @include font(2rem, normal, 700, 4rem, 2px, capitalize);
    margin-bottom: 20px;
    margin-top: 0;
  }
  &--basic {
    @include font(2rem, normal, 400, 4rem, 2px, capitalize);
  }
}

.contact-link {
  color: #000;
  text-decoration: none;
  &:hover {
    color: $color-additional;
  }
}
