.subtitle-favorites {
  @include font(2rem, normal, 700, normal, normal, none);
  margin-left: 20px;
}

.seasons {
  display: flex;
  width: 700px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 40px 20px;
}

.season-text {
  @include font(2rem, normal, 400, normal, normal, none);
  padding: 5px;
  cursor: pointer;
  &--bold {
    font-weight: 700;
  }
}

.seasons-var {
  display: flex;
  align-items: center;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-radio {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 15px;
  cursor: pointer;
}

.custom-radio::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  @extend %transition;
}

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.favorite-column {
  margin: 0 60px 0 20px;
  @media screen and (max-width: 1250px) {
    display: block;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
  }
}

.block-favorite {
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  background: #fff;
  box-sizing: border-box;
  padding: 14px 0 0 19px;
  margin: 0 0 40px 0;
}

.block-heading {
  @extend %font-add;
  @include font(2rem, normal, 400, 4rem, 2px, capitalize);
  margin: 0;
  width: 530px;
}

.block-capitalize-title {
  text-transform: capitalize;
}

.block-favorite-content {
  @include font(1.5rem, normal, 400, 4rem, 2px, capitalize);
  padding-right: 174px;
  margin: 0;
}

.book-img {
  position: absolute;
  right: -40px;
  bottom: -1px;
}
