$color-header-footer: #ffffff;
$color-footer-icon: #f5efdb;
$color-primary: #0c0c0e;
$color-additional: #bb945f;
$color-gray: #8E8E8E;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1440px;
$transition-width: 1024px;
$tablet-width: 768px;
$mobile-small-width: 320px;
