.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: $color-primary;
}

.logo {
  text-decoration: none;
  margin-left: 20px;
}

.header-navigation {
  position: absolute;
  right: 88px;
  @include media-transition {
    display: none;
  }
}

.menu {
  display: flex;
  padding-left: 0;
}

.menu-link {
  list-style: none;
  padding: 0 15px;
  flex-shrink: 0;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.nav-link {
  color: $color-header-footer;
  @include font(2rem, normal, 400, 5rem, normal, none);
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.4s ease;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $color-additional;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  &:hover {
    color: $color-additional;
  }
  &:hover::after {
    width: 100%;
  }
}

.icon-profile {
  display: flex;
  margin-right: 20px;
  @include media-transition {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 85px;
  }
}
