html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", Verdana, sans-serif;
}

h1 {
  color: $color-header-footer;
  @extend %font-add;
  @include font(3rem, normal, 400, 5rem, 0.6px, capitalize);
  &:hover {
    color: $color-additional;
    cursor: pointer;
    @extend %transition;
  }
}

h2 {
  color: $color-primary;
  @extend %font-add;
  @include font(4rem, normal, 400, 4rem, 2px, capitalize);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  @extend %font-add;
  @include font(4rem, normal, 400, 4rem, 2px, capitalize);
}

h4 {
  @include font(1.5rem, normal, 700, 4rem, 2px, uppercase);
}
