.button {
  font-family: "Inter", Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  border-radius: 2px;
  cursor: pointer;
  @extend %transition;
  &--buy {
    position: absolute;
    font-size: 1rem;
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 9px 27px;
    bottom: 15px;
    &:hover {
      border: 1px solid $color-additional;
      background: $color-additional;
    }
  }
  &--own {
    position: absolute;
    font-size: 1rem;
    color: $color-additional;
    padding: 9px 25px;
    border: 1px solid $color-additional;
    bottom: 15px;
    cursor: default;
  }
  &--big {
    font-size: 2rem;
    color: $color-primary;
    padding: 10px 40px;
    border: 1px solid $color-primary;
    margin: 0 auto;
    display: block;
    &:hover {
      border: 1px solid $color-additional;
      background: $color-additional;
    }
  }
  &--profile {
    font-size: 1rem;
    color: $color-primary;
    padding: 10px 20px;
    border: 1px solid $color-primary;
    margin-left: 20px;
    &:hover {
      border: 1px solid $color-additional;
      background: $color-additional;
    }
  }
}
